# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Identify popular languages for Data Science.
* Recognize key libraries used for Machine Learning (ML).
* List common open-source development environments for Data Science.
* Demonstrate the evaluation of basic arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. Seaborn

| **Data Science Tools** |
| ---------------------- |
| Jupyter Notebook       |
| Google Colab           |
| RStudio                |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60:

In [9]:
200/60

3.3333333333333335

## Author

Mirjana Milovanov